.page-container {
  padding: 50px;
  height: 100%;
  max-width: 100%;
  background-color: #d7b898;
  font-family: YoungSerif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  font-family: YoungSerif;
  margin: 10px;
  text-align: center;
  font-size: medium;
  padding: 8px 24px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.bookmark-button {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 35px;
  border: 0;
  background-color: transparent;
  color: rgba(245, 225, 200, 0.5);
  position: absolute;
  top: 5%;
  right: 10%;
}
.bookmark-button:hover {
  color: rgba(245, 225, 200);
}

.profile-input{

  background-color: rgba(245, 225, 200, 0.2);
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
}

.row-container{
  display: flex;
  flex-direction: row;
}
.column-container{
  display: flex;
  flex-direction: column;
}

.settings-menu{
  width: fit-content;
  transition: 0.5s;
  transform: translateX(-90%);
}

.settings-menu:hover{
  transform: translateX(0%);
}

